{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="row">
    <!-- Customer overview start -->
    <div class="col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <h5>Campaign monitor</h5>
                    <form id="dataForm">
                        <div class="row align-items-center">
                            <label for="select-line" class="col-form-label">라인 :</label>
                            
                            <select id="select-line" class="form-control" onchange="chageLangSelect()" style="width:100px;display:inline;">
                                {% for line in line_list %}
                                    <option value="{{ line }}">{{ line  }}</option>
                                {% endfor %}
                            </select>
                            
                            <label for="select-eqp" class="col-auto col-form-label">설비 :</label>
                            <div class="col-sm-1" >
                                <input type="text" id="select-eqp" class="form-control" list="eqp_list" >
                                <datalist id="eqp_list">
                                    {% for eqp in eqp_list %}
                                        <option value="{{ eqp }}">
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="col-sm-2">
                            <button  id="btn-ppid" class="btn btn-primary btn-sm btn-round mb-2">ppid 검색</button>
                            </div>
                            <div class="col-sm-1" >
                                <input type="text" id="select-ppid" class="form-control" list="ppid_list" >
                                <datalist id="ppid_list">

                                </datalist>
                            </div>        
                            <div class="col-sm-2">
                                <button  id="processBtn" class="btn btn-warning btn-sm btn-round mb-2">조회</button>
                            </div>               
                        </div>
                    </form>
                    
         
            </div>

        </div>
    </div>
    <!-- Customer overview end -->
    <!-- 결과 페이지 -->
    <div class="col-md-12">
        <table id="result_table" style="display:none;">
            <thead>
                <tr>
                    <th>결과</th>
                </tr>
            </thead>
            <tbody>
                <tr id="resultRow">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}
{% block extrajs %} 
<!-- custom-chart js -->
<script src="{% static 'assets/js/pages/dashboard-main.js' %}"></script>
<!-- Apex Chart -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
 

<script>
    // 버튼 클릭 이벤트 핸들러
    $('#btn-ppid').click(function(){
        var line = $('#select-line').val();
        var eqp_id = $('#select-eqp').val();
        if (!eqp_id) {
            alert('설비 ID를 입력하세요.');
            return; // 업데이트 중단
        }        
        // AJAX 요청 보내기
        $.ajax({
            url: '/get_ppid/',
            data: {
                'line': line,
                'eqp_id': eqp_id
            },
            dataType: 'json',
            success: function(data){
                var options = data.options;
                var ppid_list = $('#ppid_list');
                ppid_list.empty(); // 이전 옵션들을 비웁니다.
                $.each(options, function(index, value){
                    ppid_list.append($('<option>').text(value));
                });
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $('#processBtn').click(function(){
            $.ajax({
                url: "{% url 'process_data' %}",
                type: "POST",
                data: $('#dataForm').serialize(),
                success: function(response){
                    if (response.error) {
                        alert(response.error);
                    } else {
                        $('#resultRow td').text(response.result);
                        $('#result_table').show();
                    }
                },
                error: function(xhr, errmsg, err){
                    alert('Error occurred while processing data: ' + errmsg);
                }
            });
        });
    });

    
</script>

{% endblock extrajs %}